ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: #fff;
    font-family: "Roboto", sans-serif;
    color: #434455;
}
.clicker{
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    background-color: #4D5AE5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.clicker:hover{
    background: #404BBF;
}
.clicker:focus{
    background-color: #404BBF;
}
p{
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

a:hover{
    color: #404BBF;
}
a:focus{
color: #404bbf
}
.address{
    font-style: normal;
}

.logo{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.dark{
    color: #2e2f42;
}
.light{
color: #f4f4fd;
}
.header-items{
   
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.header-contacts{
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.main_section {
    background-color: #2e2f42;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.main_title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}


.main_button {
    background-color: #4d5ae5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.main_button:hover,
.main_button:focus {
    background-color: #404bbf;
}
.custom_header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42; 
}
.privilege_header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42; 
}
.privilege_description {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}





.team-info {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-header {
    background-color: #F4F4FD
}

.white-background {
    background-color: #FFFFFF;
}
      
.team-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #434455 ;

}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer_section {
    background-color: #2e2f42;
    line-height: 1.5;
}

.footer_logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.footer_logo_span {
    color: #f4f4fd;
}

.footer_description {
    line-height: 1.5;
    color: var(--footer-text-color, #F4F4FD);
    letter-spacing: 0.02em;
}